* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    background: #000;
    color: #fff;
  }
  
  p {
    font-size: 3rem;
  }
  
  .js {
    color: #fdfdfc;
  }
  
  .typed-text {
    color: #de8512;
    text-decoration: dashed underline;
    
  }
  
  .cursor {
    /* background: #dbe912; */
    color: #dbe912;
    animation: blinkAnimation 800ms infinite;
    
  }

  @keyframes blinkAnimation {
    0%, 100% { opacity: 1; }
    25%, 75% {opacity: 0.5;}
    50% { opacity: 0; }
  }
  